:root {
    --color: rgb(46, 46, 46);
}

.custom-select .ant-select-selector {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-select .ant-select-selector .ant-select-selection-placeholder {
    color: var(--color);
}

.custom-select .ant-select-arrow {
    color: var(--color);
}